.header {
  font-size: 50px;
  font-family: 'Righteous', cursive;
  color: rgb(250, 246, 215);
}

.subHeader  {
  font-size: 30px;
  font-family: 'Righteous', cursive;
  color: rgb(250, 246, 215);
}

select  {
  background-color: cadetblue;
  color: aquamarine;
}

body  {
  background-image: url(../img/factory.jpg);
  background-repeat: repeat-x;
  background-size: 650px 450px;
  background-color: rgb(48, 81, 82);
}

.container  {
  background-color: rgb(48, 81, 82);
}

a {
  font-family: 'Orbitron', sans-serif;
  color: aquamarine;
}

p, li, label {
  font-family: 'Orbitron', sans-serif;
  color:rgb(250, 246, 215);
}

input  {
  background-color: cadetblue;
  color: aquamarine;
  border-radius: 15px;
  border-color: rgb(245, 245, 161);
}