@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="subHeader">Are you sure you want to remove this machine from the list?</div>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<p>Back to @Html.ActionLink("Machine List", "Index")</p>