@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="header">Are you sure you want to delete this Engineer?</div>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<p>back to @Html.ActionLink("Engineer List", "Index")</p>