@{
  Layout = "_Layout";
}
@using Factory.Models;
@model List<Factory.Models.Engineer>;

<div class="header">Welcome to the Factory</div>

<div class="subHeader">Engineers:</div>
<ul>
@foreach (Engineer engineer in ViewBag.Engineers)
{
  <li>@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new { id = engineer.EngineerId })</li>
}
</ul>
<div class="subHeader">Machines:</div>
<ul>
@foreach (Machine machine in ViewBag.Machines)
{
  <li>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId })</li>
}
</ul>

<p>@Html.ActionLink("Engineers Home", "Index", "Engineers")</p>
<p>@Html.ActionLink("Machines Home", "Index", "Machines")</p>